.formik_error{
    font-size: 20px;
    color: red;
}
.formwraper{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
    justify-content: center;
    margin-top: 10%;
    align-items: center;
}
.formwraper > input{
        width: 300px;
        height: 40px;
        margin-top: 20px;
}